{
	"ignorePatterns": "lib/**",
	"extends": ["plugin:@typescript-eslint/recommended", "prettier"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {}
		}
	},
	"rules": {
		"prefer-spread": 0,
		"prefer-rest-params": 0,
		"@typescript-eslint/no-this-alias": 0,
		"@typescript-eslint/no-empty-interface": 0,
		"prettier/prettier": 2,
		"@typescript-eslint/explicit-function-return-type": [
			2,
			{ "allowExpressions": true }
		],
		"@typescript-eslint/indent": 0,
		"@typescript-eslint/no-use-before-define": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/no-inferrable-types": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-unused-vars": 0,
		"@typescript-eslint/no-empty-function": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/ban-ts-ignore": 0,
		"@typescript-eslint/ban-types": 0
	}
}
